@use "src/styles/variables";

.reports-list {
  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &-container {
    width: 50vw;
    min-height: 60vh;
    border: 0.1vh solid variables.$gray_dark;
    border-radius: 0.5rem;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    height: 6vh;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: variables.$gray_dark;
    & > div:first-child .mantine-Text-root > * {
      padding-right: 0.3vw;
    }
  }
  &-actions i {
    cursor: pointer;
    display: flex;
    align-items: center;
    & > * {
      margin-right: 0.5vw;
    }
  }
}

.tags-list {
  &-header {
    padding: 0 1vw;
  }
  &-actions {
    display: flex;
  }
}
