.tag-selector {
  &-container {
    display: flex;
    align-items: center;
    padding: 0.5vh 0.75vw;

    & .mantine-Checkbox-root,
    & .mantine-ColorSwatch-root {
      margin-right: 0.3vw;
    }

    & .mantine-Checkbox-inner > input {
      border: none;
      background: none;
    }
  }
}
