.tag-creator {
  &-wrapper {
    position: relative;
  }
  &-container {
    padding: 1vh 0;
    display: flex;
    justify-content: center;
  }
  &-close {
    position: absolute;
    top: 1vh;
    right: 1vh;
  }
  &-inputs {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 1vh;
  }
}
