@use "src/styles/variables.scss";

.report-list {
  &-entry {
    &-container {
      display: flex;
      align-items: flex-start;
      padding: 1.5vh 1vw 1vh;
      &:hover {
        background-color: variables.$primary-darker;
      }
    }
    &-state {
      display: flex;
      padding-right: 0.75vw;
    }
    &-info {
      display: flex;
      flex-direction: column;
      & > h5 {
        line-height: 85%;

        &:hover {
          cursor: pointer;
          color: #539bf5;
        }
      }
    }
    &-date {
      display: flex;
    }
  }
}
